<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      >
<head>
    <title>home</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">WELCOME TO HOME PAGE</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="home">HOME</a></li>
            <li class=""><a href="profile">PROFILE</a></li>


        </ul>
        <form th:action="@{/logout}" method="post" class="d-flex" role="search">
            <button class="btn btn-success pull-right m-2 mt-2" type="submit">LogOut</button>
        </form>
    </div>
</nav>

<div class="container">
    <h2>WELCOME <span th:text="${user.name}"></span> !</h2>
    <p style="font-size:17px">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut arcu mi, gravida vitae maximus sagittis, scelerisque sit amet libero. Sed vehicula tortor nec posuere interdum. In interdum eu sem in ultricies. In nec purus dictum, vehicula dui nec, consectetur urna. Vestibulum mattis fermentum nunc quis mollis. Vivamus sodales lectus a felis laoreet blandit. Nam vitae nisi et risus rhoncus aliquam. Etiam posuere risus at massa consectetur, quis semper ipsum faucibus. Pellentesque a auctor odio, eu rutrum ipsum. Sed a malesuada augue, nec rhoncus eros. Mauris velit nisl, porta non eleifend ac, egestas ac sapien. Maecenas velit magna, imperdiet eu eleifend sed, fermentum at erat. Sed lobortis convallis lorem, vehicula consequat purus malesuada vitae.

        Aenean faucibus dictum erat, eget vestibulum risus rhoncus vel. Donec non laoreet neque, at placerat neque. Praesent gravida magna sit amet sapien iaculis, sed imperdiet enim faucibus. In porta metus ante, ut dapibus urna accumsan eu. Morbi ut lorem rutrum, molestie purus et, consectetur felis. Pellentesque commodo rhoncus magna vel vulputate. Donec suscipit elementum nisi, id pellentesque lorem elementum at. Curabitur maximus sollicitudin cursus. Proin viverra nisl in libero scelerisque facilisis. Maecenas pharetra diam nisi, nec mattis massa volutpat in. Suspendisse vitae sodales massa. Sed accumsan nisl nec est lobortis, eget rhoncus nisi tempus. Morbi vulputate dolor quis accumsan condimentum. Morbi hendrerit venenatis nulla, ut pulvinar sapien volutpat vitae. Nunc varius justo libero, vitae rutrum nisl mollis quis. Curabitur posuere varius elementum.

        Phasellus justo ante, accumsan vitae pharetra vel, lobortis sed dui. Curabitur posuere accumsan ante, at semper ante volutpat a. Duis eu tempus magna. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque leo nulla, convallis sit amet libero ac, laoreet pharetra justo. Cras in tortor volutpat, vestibulum est vel, molestie metus. Nam ac gravida augue. Fusce eleifend accumsan neque id condimentum. Nam sodales vulputate nisl sit amet venenatis. Pellentesque ornare dui in diam dignissim, vel auctor justo consectetur. Nunc malesuada pulvinar ipsum, non tristique metus tempus sed. Sed euismod dui ac fermentum consectetur. Aliquam eu erat neque. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.

        Praesent et feugiat est, a malesuada justo. Duis eget imperdiet enim, eget interdum nisl. Donec at porttitor est, quis porttitor nunc. Donec porta ligula quis massa pellentesque, a congue libero aliquam. Quisque vitae velit in ante elementum fermentum. In eget gravida lectus. Mauris vitae neque sed lorem aliquam sodales. Quisque posuere nisi purus, a tincidunt ipsum faucibus in. Nulla ac feugiat quam, a egestas turpis. Proin suscipit a diam non pretium. Vestibulum auctor pretium euismod. Etiam posuere et magna sit amet ullamcorper. Nulla faucibus eget massa vitae dictum.

        Aenean eget nulla id est efficitur convallis vel eu ipsum. Duis dapibus volutpat est, sit amet porta tortor sollicitudin vel. Nulla aliquam faucibus nibh, sed suscipit felis tincidunt vitae. In hac habitasse platea dictumst. Vivamus vehicula, est quis lobortis ullamcorper, eros nisi ullamcorper nunc, at efficitur mauris ante congue nulla. Aliquam erat volutpat. Donec feugiat ipsum a tincidunt bibendum. Curabitur condimentum et ipsum eu tempor. Integer eu mollis massa. Etiam posuere, lacus id molestie aliquam, sem neque semper enim, eget tristique neque erat at nunc. Maecenas tortor elit, pulvinar at feugiat quis, elementum eget nunc. Vestibulum et tristique velit, vel dictum nulla. Quisque at malesuada nibh, vel ornare purus. Donec vel lobortis diam, vel ultrices tortor.

        Praesent bibendum lobortis ligula, ac fermentum urna iaculis vitae. Mauris dapibus massa at eros aliquet varius. Nulla vel vulputate justo. Vivamus pulvinar maximus eros a tincidunt. Curabitur condimentum ultricies congue. Morbi at semper urna. Fusce non nulla urna. Aenean suscipit purus sed velit viverra, auctor congue ligula facilisis. Ut pharetra lobortis elit, et eleifend erat blandit ornare. Vivamus porta tortor nec nunc placerat maximus. Donec vel egestas libero, eu imperdiet lacus.</p>
</div>

</body>
</html>
