<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>user management system</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand text-success" href="#">WELCOME TO USER MANAGEMENT SYSTEM</a>
        </div>
        <ul class="nav navbar-nav">
            <li class=""><a href="home">HOME</a></li>
            <li class=""><a href="profile">PROFILE</a></li>
            <li class="active"><a href="management">USER MANAGEMENT</a></li>
        </ul>
        <form th:action="@{/logout}" method="post" class="d-flex" role="search">
            <button class="btn btn-success pull-right m-2" type="submit">LogOut</button>
        </form>
    </div>
</nav>

<div class="container my-2">
    <h1>USER DATA</h1>
    <a href ="userform" class="btn btn-primary btn-sm mb-3">Add Employee</a>
    <table class="table table-bordered border-primary table-striped table-responsive-md">
        <thead>
        <th>ID</th>
        <th>NAME</th>
        <th>EMAIL</th>
        <th>PHONE</th>
        <th>ROLE</th>
        </thead>
        <tbody>
        <tr th:each="users : ${userdata}">
            <td th:text="${users.id}"></td>
            <td th:text="${users.name}"></td>
            <td th:text="${users.email}"></td>
            <td th:text="${users.phone}"></td>
            <td th:text="${users.role}"></td>
        </tr>
        </tbody>
    </table>
</div>



</body>
</html>
