<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>user management system</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">WELCOME TO USER MANAGEMENT SYSTEM</a>
        <button
                class="navbar-toggler"
                type="button"
                data-mdb-toggle="collapse"
                data-mdb-target="#navbarNav"
                aria-controls="navbarNav"
                aria-expanded="false"
                aria-label="Toggle navigation"
        >
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link " aria-current="page" href="home">HOME</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="profile">PROFILE</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="management">MANAGEMENT</a>
                </li>
            </ul>
        </div>
    </div>
    <form th:action="@{/logout}" method="post" class="d-flex" role="search">
        <button class="btn btn-success pull-right m-2" type="submit">LogOut</button>
    </form>
</nav>

<div class="container">
    <h1>USER DATA</h1>
    <form th:action="@{/admin/searchuser}" method="get">
    <div class="input-group mb-3">
        <input type="search" name="query" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
        <button type="submit" class="btn btn-primary">search</button>
    </div>
    </form>
</div>
<div class="container my-2">

    <a href ="userform" class="btn btn-success btn-sm mb-3">Add User</a>
    <table class="table table-bordered border-primary table-striped table-responsive-md">
        <thead>
        <th>ID</th>
        <th>NAME</th>
        <th>EMAIL</th>
        <th>PHONE</th>
        <th>ROLE</th>
        <th>ACTIONS</th>
        </thead>
        <tbody>
        <tr th:each="users : ${userdata}">
            <td th:text="${users.id}"></td>
            <td th:text="${users.name}"></td>
            <td th:text="${users.email}"></td>
            <td th:text="${users.phone}"></td>
            <td th:text="${users.role}"></td>
            <td><a  th:href="@{'/admin/updateForm/'+${users.id}}"  class="btn btn-primary">Edit</a>
<!--            <td><form th:action="@{/admin/updateForm/+'${users.id}'}" action="" method="post"  role="search">-->
<!--                <button class="btn btn-primary" type="submit">Update</button>-->
            </form>
                <a th:href="@{'/admin/deleteuser/'+${users.id}}"  class="btn btn-danger">Delete</a> </td>
        </tr>
        </tbody>
    </table>
</div>



</body>
</html>
