<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>profile</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#"> PROFILE PAGE</a>
        </div>
        <ul class="nav navbar-nav">
            <li class=""><a href="home">HOME</a></li>
            <li class="active"><a href="profile">PROFILE</a></li>
        </ul>
        <form th:action="@{/logout}" method="post" class="d-flex" role="search">
            <button class="btn btn-success pull-right m-2" type="submit">LogOut</button>
        </form>
    </div>
</nav>
<div align="center">
    <h1>USER DETAILS</h1>
    <h2>NAME : [[${user.name}]]</h2>
    <h2>E MAIL : [[${user.email}]]</h2>
    <h2>MOB NO : [[${user.phone}]]</h2>
    <h2>ROLE : [[${user.role}]]</h2>
</div>
</body>
</html>
